:root{
    --verde: #02f502;
}


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: "Rubik", Sans-serif;
    color:white;
    font-size: 20px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat; 
    font-family: 'Share Tech Mono', monospace;
}



nav{
    height:2.5em;
    border-bottom: 1px solid white;
    margin-bottom: 2em;
    padding: 0;
}


a:link,
a:hover{
    text-decoration: none;
    color:magenta;
}
#back{
    color:greenyellow;
    margin: 0.6em 0.5em 0.5em 0.5em;
    padding: 0.1em 0 1.5em 0;
    border:1px solid white;
    width:1.5em;
    height: 1.5em;
    text-align: center;
    text-decoration: none;

}

#back:hover{
    border: 1px solid greenyellow;
}
a{
    color:white;
}


/* ===== ASIDE LOGO ICON ==== */


img{
    width: 100%;
}

.logoicon{
    padding:0;
    margin:0;
   

}


#logoicon{
    max-width:18em;
    object-fit: contain;
    left: 0;
    top:0;
}


/** ===== INPUT ===== */


#searchHeader{
    margin-top:6em;
    background-color:var(--verde);
    min-width:100%!important;
    margin:0;
    padding:3px;
    text-transform: uppercase;
    border: 1px solid var(--verde);
}

#searchQuery{
    width:100%;
    padding:.25em;
    height: auto;
    line-height: .75;
}

.blackgreen{
    background-color:black;
    border: 1px solid var(--verde);
    color: var(--verde);
    text-transform: uppercase;
}