:root{
    --verde: #02f502;
}


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: "Rubik", Sans-serif;
    color:white;
    font-size: 20px;
    /*background-image: url(../img/background.jpg);*/
    background-color: rgb(8, 0, 51);
    background-repeat: no-repeat; 
    font-family: 'Share Tech Mono', monospace;

}

.row{
    margin-bottom: 1em;
}


nav{
    height:2.5em;
    border-bottom: 1px solid white;
    margin-bottom: 2em;
    padding: 0;
}


a:link,
a:hover{
    text-decoration: none;
    color:magenta;
}
#back{
    color:greenyellow;
    margin: 0.6em 0.5em 0.5em 0.5em;
    padding: 0.1em 0 1.5em 0;
    border:1px solid white;
    width:1.5em;
    height: 1.5em;
    text-align: center;
    text-decoration: none;

}

#back:hover{
    border: 1px solid greenyellow;
}
a{
    color:white;
}


/* ===== ASIDE LOGO ICON ==== */


img{
    width: 100%;
}

.logoicon{
    padding:0;
    margin:0;
   

}


#logoicon{
    margin: -3em 0em 0.25em -2em;
    max-width:24em;
    position: relative;
    object-fit: contain;
    left: 0;
    top:0;
}


/** ===== INPUT ===== */


#searchHeader{
    margin-top:4.5em;
    background-color:var(--verde);
    width:100%;
    margin:0;
    padding:4px 3px;
    text-transform: uppercase;
    border: 1px solid var(--verde);
    line-height: 0.75;
    font-size: 0.75em;
    color:black;
}

form{
    width:100%;
}

#searchQuery{
    width:100%;
    padding:.15em;
    height: auto;
    line-height: .75;
}

.blackgreen{
    background-color:black;
    border: 1px solid var(--verde);
    color: var(--verde);
    padding:0;
    line-height: 0.75;
}
#addBand{
    width: 30%;
    font-size: 0.8em;
    position: relative;
    height:auto;
    background-color: var(--verde);
    color: black;

}

#clear{
    width: 30%;
    font-size: 0.8em;
    position: relative;
    height:auto;
    background-color: darkgray;
    color: var(--gray);
}

.botones{
    font-size: 0.75em;
    margin:0em 0.5em 1em 0;
    color:var(--verde);
    background: black;
    border: 1px solid var(--verde);
    padding:3px;
}

.headerTab{
    background-color:var(--verde);
    min-width:100%!important;
    margin:0;
    padding:0px 3px;
    text-transform: uppercase;
    font-size: 0.75em;
    color:black;
}

.headerTab p{
    margin-bottom:0;
}

.favorites{
    background-color: black;
    width:100%;
    border:1px solid var(--verde);
}




/** ===== EMPIEZA DISPLAY DE GIFS ===== **/


#gifSection{
flex-direction: row-reverse;
flex-wrap: wrap;
}

img{
    z-index: 999;
}
.gifContainer{
    float:left;
    flex: 0 2 auto;
    margin: 1em;
    min-width: 40%;
}
.gifThumb{
    background-color: black;;
  
}
.gifButtons{
    display:flex;
    justify-content: flex-end;
    width:100%;
}

.rating{
    border: 1px solid var(--verde);
}

.saveFav{
    background-color:var(--verde);
    flex: 0 1 auto;
    padding: 0 5px;
    margin-left: 1px;
}

.rating{
    padding-left:2px;
    text-align:left;
    flex: 4 1 auto;
    margin-bottom: 0px;
    color:var(--verde);
    background-color:black;
}

/* MEDIA QUERIES */

@media screen and (max-width:768px){
    .gifContainer{
        flex: 0 1 auto;
    }
}
